h1, h2 {
    color: rgb(37, 90, 37);
    font-size: 30px;
    margin: 0;
    text-align: center;
}
p {
    margin: 0;
}
.title {
    color: rgb(82, 20, 20);
    font-size: 45px;
}
.boxWrapper {
    margin-top: 20px;
    display: flex;
}
.box {
    border: 2px dashed rgb(96, 145, 24);
    width: 200px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.image {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.active {
    color:rgb(58, 58, 112);
    font-size: 50px; 
}
.ice {
    color: rgb(70, 26, 26);
    margin-top: 30px;
}
button {
    width: 250px;
    height: 40px;
    margin: 0px;
    margin-left: 65px;
      
}
/* #el1 {
    color: beige;
} */
a:hover {
    color: rgb(255, 0, 0);
}
.description {
    color: coral;
    font-size: 45px;
}
.listColor{
    color: aqua;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}